<%= form_for(@roll_call) do |f| %>
  <% if @roll_call.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@roll_call.errors.count, "error") %> prohibited this roll_call from being saved:</h2>

      <ul>
      <% @roll_call.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :teacher %><br>
    <%= f.text_field :teacher %>
  </div>
  <div class="field">
    <%= f.label :salary %><br>
    <%= f.number_field :salary %>
  </div>
  <div class="field">
    <%= f.label :pet %><br>
    <%= f.text_field :pet %>
  </div>
  <div class="field">
    <%= f.label :breed %><br>
    <%= f.text_field :breed %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :vaccinated %><br>
    <%= f.text_field :vaccinated %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
