<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @roll_call.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @roll_call.age %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @roll_call.teacher %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @roll_call.salary %>
</p>

<p>
  <strong>Pet:</strong>
  <%= @roll_call.pet %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @roll_call.breed %>
</p>

<p>
  <strong>Age:</strong>
  <%= @roll_call.age %>
</p>

<p>
  <strong>Vaccinated:</strong>
  <%= @roll_call.vaccinated %>
</p>

<%= link_to 'Edit', edit_roll_call_path(@roll_call) %> |
<%= link_to 'Back', roll_calls_path %>
